/*
 Administration Stylesheet
*/
/*
	Copyright 2011  Leonard's Ego Pty. Ltd.  (email : freedoms@leonardsego.com)

	This program is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License, version 2, as 
	published by the Free Software Foundation.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

#five3-fonts label {
	display: inline-block;
	font-size: 36px;
	line-height: 1.4em;
	margin-right: 10px;
	width: 240px;
}

#five3_overlay .inside a,
#five3_background .inside a {
	display: block;
	padding: 5px 0px 0px;
}

#five3_overlay .inside,
#five3_background .inside {
	text-align: center;
}

#five3_overlay .inside img {
	display: block;
	margin: 0 auto;
}

#media-items .pinkynail {
	margin-top: 3px;
}

#media-items a.overlay, 
#media-items a.background {
	float: right;
	margin:8px 10px;
}

/* Options Meta Box */
#f3_options p {
	clear: both;
	padding: 0.5em 0;
}
#f3_options select {
	float: right;
	width: 120px;
}
#background-options, 
#overlay-options {
	display: none;
}