/* Smartphones (Landscape) ----------- */
@media only screen and (max-width : 480px) {

	#preloader {
		visibility: hidden;
	}

	h1 {
		font-size: 3em;
	}

	#branding {
		margin: 0;
		text-align: center;
	}

	#branding .branding-container {
		width: 100%;
	}

	#branding #site-title {
		width: 100%;
		text-align: center;
	}

	nav#access {
		position: relative;
		text-align: center;
		margin: 1em 0 0;
	}

	nav#access ul {
		margin: 0;
	}

	nav#access ul.menu li {
		width: 20%;
		margin: 0 2%;
	}

	.content {
		min-height: 0;
		border-top: 1px dashed #CFCFCF;
	}

	.content,
	.content-container {
		background-image: none !important;
	}

	/* Hide Background & Overlay Images */
	.overlay {
		display: none;
		background-image: none !important;
	}

	.has-background {
		min-height: 0;
	}

	.content header, .content .entry-summary, 
	.content .entry-content, .content .edit-link, 
	footer.entry-meta {
		width: 100%;
		min-width: 100%;
	}

	.content header, .has-background header {
/* 		margin-top: 1em; */
	}

	.content header h2 a, .single .content header h2 {
		font-size: 2em;
	}

	.content section.right, 
	.content section.left,
	.content section.full,
	.content section.center {
		padding: 0;
	}

	.content section.center header, 
	.content section.center .entry-summary, 
	.content section.center .entry-content, 
	.content section.center .edit-link,
	.content section.center footer.entry-meta,
	.content section.right header, 
	.content section.right .entry-summary, 
	.content section.right .entry-content, 
	.content section.right .edit-link,
	.content section.right footer.entry-meta  {
		left: 0;
	}

	#comments {
		margin: 1em 0;
	}

	#comment, #commentform input, 
	#commentform #submit, #commentform #comment {
		width: 416px;
	}

	.commentlist {
		width: 424px;
	}

	#commentform #submit {
		width: 430px;
	}
	#comments, #commentform #comment-reply {
		width: 100%;
	}

	.cat-links, .entry-meta .sep:nth-child(n+4),
	.comments-link, .edit-link {
		display: none;
	}

	/* Footer */
	#footer {
		width: 100%;
		padding: 1em;
	}

	#footer-widgets {
		margin-bottom: 1em;
	}

	
	#footer-widgets:nth-child(3) {
		clear: both;
	}

	#footer .widget {
		width: 45%;
		margin: 0.5em 0;
	}

	#site-generator,
	#site-copyright {
		width: 100%;
		text-align: center;
	}

	.third-box {
		width: 89%; 
	}

	/* Fixed Header */
	body.fixed .branding-container {
		max-height: 160px;
		overflow: hidden;
	}

	body.fixed .content:first-of-type {
		padding-top: 140px;
	}

	#footer {
		border-top: 1px dashed #CFCFCF;
	}
	.bbPress #content {
		max-width: 100%;
		margin: 0 auto;
	}
	.bbp-forum-info .bbp-forum-content,
	.bbp-topic-title .bbp-topic-meta {
		display: none;
	}
	#content .bbp-forum-info,
	td.bbp-topic-title {
		width: 33% !important;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	#preloader {
		visibility: hidden;
	}

	#comment, #commentform input, 
	#commentform #submit, #commentform #comment {
		width: 256px;
	}

	.commentlist {
		width: 264px;
	}

	#commentform #submit {
		width: 85%; 
	}

}

nav#access { display: none; margin-left:-999em; }

.branding-container img { float:left; padding-left:10px; padding-bottom:7px; }
body.fixed #branding #site-title { font-size:1em; margin: 0 0 0 0; }