/* Styles common to all small screen sizes */
@media only screen and (max-width : 1024px) {

	#wrapper {
		margin: 0;
		width: auto;
		max-width: 1024px;
	}

	.branding-container img {
		width:150px;
	}
	/* Branding */
	#branding {
		width: 100%;
		float: left;
	}

	#branding h1 a {
		width: 100%;
	}

	/* Nav */
	nav#access {
		margin-right: 1em;
		float: right;
	}

	nav#single {
		width: auto;
	}

	nav#page {
		display: none;
	}

	/* Content */

	.content section {
		margin: 0 1em;
	}

	.has-background {
		min-height: 1000px;
	}

	.has-background header {
		margin-top: 7em;
	}

	.content section {
		width: auto;
	}

	.content section.right {
		padding: 0 1em 0 0;
	}

	.single .content {
		padding-bottom: 4em;
	}

	/* Comments */
	#comments {
		margin: 1em auto;
	}

	#comments .comment-author img {
		display: none;
	}

	/* Footer */
	#footer {
		width: auto;
		padding: 2em 1em;
	}

	#footer-widgets {
		margin: 0 0 3em;
	}

	#footer .widget {
		width: 25%;
	}

	.third-box {
		width: 25%; 
	}

	/* Fixed Branding */
	body.fixed #branding #site-title {
		font-size: 3em;
	}
	body.fixed .content:first-of-type {
		padding-top: 48px;
	}
	img {
		max-width: 100%;
		height: auto; 
	}
}

@media only screen and (max-width : 768px) {

	#wrapper {
		max-width: 768px;
	}

	.content section.left header, 
	.content section.left .entry-summary, 
	.content section.left .entry-content, 
	.content section.left footer.entry-meta  {
		width: 50%;
	}

	.content section.center header, 
	.content section.center .entry-summary, 
	.content section.center .entry-content, 
	.content section.center footer.entry-meta  {
		left: 150px;
	}

	.content section.right header, 
	.content section.right .entry-summary, 
	.content section.right .entry-content, 
	.content section.right footer.entry-meta  {
		width: 50%;
		left: 318px;
	}
}
nav#access {
 	padding-top:7px; 
	text-align: right;
	position: relative;
	float: left;
	margin-left:15px;
}

body.fixed .content:first-of-type {
	padding-top: 95px;
}
